/*!
 * Common v3.3.7
 */
*{ padding:0px; margin:0px;}
body {
background: #eee;
overflow:hidden;
}
.box a{
    text-decoration: none;
}
ul li
{
  list-style:none;
  }

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');/*IE9兼容模式*/
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
     url('../fonts/icomoon.woff') format('woff'),
     url('../fonts/icomoon.ttf') format('truetype'),
     url('../fonts/icomoon.svg#icomoon') format('svg');
  font-style: normal;
  font-weight: normal;
}
.s-icon{
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color:rgb(249, 217, 123);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
/*header---------------------------------------------------*/
#header .navbar-default
{
    background-color:#80ccff;
    background-image:url("../Img/logo.png");
    background-repeat:no-repeat;
    background-size:50px 50%;
    background-position:left center;
    margin-bottom:50px;
    box-shadow:2px 0px 10px #000;
    }
#header .navbar-default h1
{
   margin-left:50px;
   display:inline-block;
   color:rgba(255, 255, 255, 0.9);
   font-family:"宋体";
  }
#spanDate{text-align:right;float:right;display:block;}

 /*main---------------------------------------------------*/
#main { margin:50px auto; display:block; /*background:#cceeff;*/}
#main .panel{margin-top:10px;}
.btnMargin{margin:0px 20px;}
label
{
    font-size:14px;
    color:rgb(103, 107, 104);
    font-weight:bolder;
    margin:0;
    padding:0;
    }
.smallWord
{
   font-size:14px;
    }
.photo
{
    border:2px solid rgb(83, 149, 167);
    height:150px;
    display:block;
    }

#main #inputdiv .form-horizontal #sectable,#main .panel-body #listdiv .panel-info .form-horizontal #inputtable{
    height:100px;
    position:relative;
    overflow-y:auto;
    overflow-x:hidden;
}

#queryClass{
	height: 300px;
	width: 1000px;
	max-width: 100%;
	margin:20px auto;
}

/*footer---------------------------------------------------*/
#footer .navbar-default
{
    background:#80ccff;
    margin-top:50px;
    box-shadow:-2px 0px 10px #000;
    }
.panel-footer .btn{margin:0px 20px;}

.panel-footer .btn-primary
{
    font-size:14pt;
    padding:5px 12px;
    }
 .panel-footer .btn-fagree
{
    float:right;
    }
 .panel-footer .btn-freturn
{
    float:left;
    }
#inputdiv .panel-footer,#listdiv .panel-footer{height:50px;}




.time-item
{
    font-size:15px;
    float:right;
    display:inline-block;
    margin:0px 0px;
    }
.time-item span{
	color:#ff4d4d;
	line-height:25px;
	font-size:20px;
	font-family:Arial;
	padding:0 10px;
	margin-right:10px;
}
