#btn-diappear
{
    float:right;}
#containerKey {
    margin: 100px auto;
    width: 700px;
}
#keyboard {
    position: fixed;
    z-index:9999;
    bottom:0.8%;
    left:0;
    right:0;
    margin: 0px;
    width: 100%;
    list-style: none;
    background-color:#d4d5da;
    padding-left: 0.1em;
    padding-top: 0.1em;
    font-size: 100px;
    height: 330px;
    -webkit-text-size-adjust: none;
}
#keyboard ul li {
    float: left;
    margin: 1% 1.2% 0 0;
    width: 8.7%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    font-size: 18px;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, .5);
    -moz-border-radius: 0.5em; /* Firefox */
    -webkit-border-radius: 0.5em; /* Safari 和 Chrome */
    border-radius:0.5em; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */            
    behavior: url("Src/Js/ie-css3.htc"); /* 通知IE浏览器调用脚本作用于'box'类 */    
}
#keyboard #boardword 
{
   clear:both;
  }
#keyboard ul li.gray
{
   background-color:#acb3bd;}
#btn-diappear
{
    float:right;
    clear:both;
 }
.capslock, .tab, .left-shift {
clear: left;
}

#keyboard .firstitem
{
 margin-left:0.8%;
}

#keyboard .delete{
font-size:1.5rem;
width: 14%;
}
#keyboard .left-shift{
width: 13%;
}
.lastitem {
margin-right: 0;
}
.uppercase {
text-transform: uppercase;
}
#keyboard li:hover {
    box-shadow: 0px 0px 0px rgb(16, 252, 210);
    top: 1px;
    left: 1px;
    cursor: pointer;
}
